/*--------------------------------------------------------------
 Theme Name     : Total
 Version        : 2.0.0
 Description    : Flat Skin
 Author         : WPExplorer
 Theme URI      : http://www.wpexplorer.com
 Author URI     : http://www.wpexplorer.com
 License        : Custom
 License URI    : http://themeforest.net/licenses

/*--------------------------------------------------------------
- General
--------------------------------------------------------------*/

/* General > Typography */
body { color: #555 }

/* General > Boxed Layout */
.boxed-main-layout { background-color: #edf2f5 }

/* General > Search Entries */
.search-entry { padding-bottom: 30px; margin-bottom: 30px; }

/*--------------------------------------------------------------
- Top Bar
--------------------------------------------------------------*/
#top-bar-wrap { border: none; color: #8b8b8b; background: #181e26; margin-bottom: 0; }
#top-bar-content strong { color: #fff; font-weight: 400; }
#top-bar-wrap a { color: #a4a4a4; text-decoration: underline; }

/* Top Bar > Social */
#top-bar-wrap a:hover { color: #fff; }
#top-bar-social a { color: #4d6079 }
#top-bar-social a:hover { color: #1bbc9b }

/*--------------------------------------------------------------
- Page Header
--------------------------------------------------------------*/
.password-protection-box,
.page-header { background: #edf2f9; border-color: #dee3eb; }
.page-header-title { font-size: 24px; font-weight: 400; }

/* Page Header > Breadcrumbs */
.site-breadcrumbs,
.site-breadcrumbs p { color: #9aa3b5 }
.site-breadcrumbs a { color: #444 }

/*--------------------------------------------------------------
- Header
--------------------------------------------------------------*/
#site-header,
#searchform-header-replace { background: #252d3b; color: #fff; border: none; }
#site-logo a { color: #fff }

/* Header > Aside */
.header-two-aside { color: #fff }

/* Header > Search */
#searchform-header-replace input,
#searchform-header-replace-close { color: #fff }
#searchform-header-replace-close:hover { color: #ff4800 }

/* Header > Sticky */
.is-sticky #site-header { background: #252d3b; border: none }

/* Header > Overlay */
#site-header.overlay-header.light-style .dropdown-menu li ul,
#site-header.overlay-header.is-sticky,
#site-header.overlay-header.light-style #searchform-dropdown,
#site-header.overlay-header.light-style #current-shop-items-dropdown { background: #181e26; }
#site-header.overlay-header.light-style #searchform-dropdown input { background: #252e3b; }

/*--------------------------------------------------------------
- Navigation
--------------------------------------------------------------*/
body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu > li > ul,
#current-shop-items-dropdown { border-top-color: #1bbc9b }
.is-sticky .fixed-nav { border-bottom: none; background: #179e83; }
body.page-header-disabled .navbar-style-three,
body.page-header-disabled .navbar-style-two { border-bottom: none; }

/* Navigation > One */
.navbar-style-one .dropdown-menu > li > a { color: #788397 }
.navbar-style-one .dropdown-menu > .current-menu-item > a:after { display: none }
.search-toggle-li a { border-color: transparent !important }
.header-one .dropdown-menu ul { border-color: #eee }
.header-one .dropdown-menu ul li a { border-color: #eee }
.header-one .dropdown-menu ul li a:hover { color: #000 }
#searchform-dropdown { border-top-color: #1bbc9b }

/* Navigation > Two */
.navbar-style-two .dropdown-menu > li { border-right: 1px solid #158f76; border-right-color: rgba(255,255,255,0.15); }
body .navbar-style-two li.woo-menu-icon,
.navbar-style-two .search-toggle-li { border-color: rgba(255,255,255,0.15); }
.navbar-style-two .dropdown-menu > li > a:hover,
.navbar-style-two .dropdown-menu > .current-menu-item > a { color: #fff; background: #19ad8e; background-color: rgba(0,0,0,0.2); }
.navbar-style-two .dropdown-menu { border-color: #158f76; border-color: rgba(255,255,255,0.15); }

/* Navigation > Two, Three, Four */
.navbar-style-two, .navbar-style-three, .navbar-style-four { background: #179e83; border: none; }
.navbar-style-two .dropdown-menu > li > a,
.navbar-style-three .dropdown-menu > li > a,
.navbar-style-four .dropdown-menu > li > a { color: #fff }

/* Navigation > Three, Four */
.navbar-style-three .dropdown-menu > li > a:hover,
.navbar-style-three .dropdown-menu > .current-menu-item > a,
.navbar-style-four .dropdown-menu > li > a:hover,
.navbar-style-four .dropdown-menu > .current-menu-item > a { color: #fff; background: #19ad8e; background-color: rgba(0,0,0,0.2); }
.navbar-style-three .dropdown-menu ul a:hover,
.navbar-style-four .dropdown-menu ul a:hover { color: #000 }

/*--------------------------------------------------------------
- Mobile Menu
--------------------------------------------------------------*/

/* Mobile Menu > Icons */
#mobile-menu a { border: none; color: #fff; }
#mobile-menu a:hover,
#mobile-menu a:active { background: #158f76; color: #fff; }

/* Mobile Menu > Sidr */
#sidr-main { color: #8b8b8b; background: #181e26; }
#sidr-main a { color: #8b8b8b }
#sidr-main a:hover { color: #1bbc9b }
#sidr-main li,
#sidr-main ul { border-color: rgba(255,255,255,0.05) !important }

/*--------------------------------------------------------------
- Buttons And Forms
--------------------------------------------------------------*/
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea,
td.actions .coupon .input-text,
.searchform input { border: 2px solid #e0e9f5; background: #fff; }
.searchform input { background-image: none }
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
textarea:focus,
td.actions .coupon .input-text:focus,
.searchform input:focus { border-color: #adc4e4; background-color: #fff; }

.edit-post-link a,
#commentform #submit,
.wpcf7 .wpcf7-submit,
.theme-button,
.readmore-link,
#current-shop-items-overlay .buttons a,
.woocommerce .button,
input[type="submit"],
button,
.wpex-carousel .owl-prev,
.wpex-carousel .owl-next,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt { color: #fff !important; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; border-bottom: 3px solid rgba(0,0,0,0.15); }
.theme-button a { color: #fff; text-decoration: none !important; }
p.theme-button { margin-bottom: 20px }
p.theme-button a:hover { color: #fff }
.blog-entry-readmore span { display: none }
.vcex-readmore-rarr,
.readmore-rarr { display: none }
#comments .comment-reply-link { color: #555; padding: 0; display: inline; margin: 0; }
#comments .comment-reply-link:hover { color: #000 }

/*theme button hover*/
.edit-post-link a:hover,
#commentform #submit:hover,
.wpcf7 .wpcf7-submit:hover,
.theme-button:hover,
.readmore-link:hover,
#current-shop-items-overlay .buttons a:hover,
.woocommerce .button:hover,
input[type="submit"]:hover,
button:hover,
.wpex-carousel .owl-prev:hover,
.wpex-carousel .owl-next:hover { color: #fff; text-decoration: none; background: #179e83; opacity: 1; -moz-opacity: 1; -webkit-opacity: 1; }
body #header-two-search #header-two-search-submit { background-color: #31b383; border: none; }

/*theme button active*/
.edit-post-link a:active,
#commentform #submit:active,
.wpcf7 .wpcf7-submit:active,
.theme-button:active,
.readmore-link:active,
#current-shop-items-overlay .buttons a:active,
.woocommerce .button:active,
input[type="submit"]:active,
button:active,
#footer-callout .theme-button:active,
.wpex-carousel .owl-prev:active,
.wpex-carousel .owl-next:active { border-color: transparent }

/*cf7*/
div.wpcf7-validation-errors { border-width: 2px }

/*--------------------------------------------------------------
- Blog
--------------------------------------------------------------*/

/* Blog > Masonry */
.blog-entry.grid-entry-style .blog-entry-content { background: #f5f5f5; border-color: #eee; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }

/* Blog > Series */
#post-series-title { background: #252d3b; color: #fff; }
#post-series { background-color: #edf2f9; border-color: #dee3eb; }
#post-series li { border-color: #dee3eb; }
#post-series .post-series-current { color: #252d3b; }

/* Blog > Related */
.related-post-content { background: none; padding: 0; border: none; }
.related-post-title { margin-top: 15px }
.related-posts-title { font-size: 16px; font-weight: 400; }

/* Blog > Author Bio */
.author-bio { background: #edf2f9; border: 1px solid #dee3eb; }
.author-bio-avatar img { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

/*--------------------------------------------------------------
- Comments
--------------------------------------------------------------*/
.comment-author { padding: 0; border: none; }
.comment-author img { border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px; }
.comment-details { border-bottom: 1px solid #eee }

/*--------------------------------------------------------------
- Sidebar
--------------------------------------------------------------*/
#sidebar a { color: #888 }

/*widgets*/
#main .tagcloud a,
.post-tags a { color: #444; border: none; background: #edf2f9; transition: all 0.15s ease; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; border-radius: 3px; border-bottom: 2px solid rgba(0,0,0,0.1); }

/*modern menu widget*/
#sidebar .modern-menu-widget a:hover { color: #252d3b; }
#sidebar .modern-menu-widget li.current-menu-item a { color: #fff; background: #2c3e50; }

/*--------------------------------------------------------------
- Pagination
--------------------------------------------------------------*/
.page-numbers a,
.page-numbers span { border: none; color: #444; background: #edf2f9; transition: all 0.15s ease; -webkit-transition: all 0.15s ease; -o-transition: all 0.15s ease; -moz-transition: all 0.15s ease; border-radius: 3px; border-bottom: 2px solid rgba(0,0,0,0.1); padding: .6em .9em; line-height: 1; }
.page-numbers a:hover,
.page-numbers.current,
.page-numbers.current:hover { color: #fff; border-bottom: 2px solid rgba(0,0,0,0.3); }

/*--------------------------------------------------------------
- Visual Composer
--------------------------------------------------------------*/

/* - Visual Composer > Tabs */
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { border-bottom-color: #252d3b }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { background: #252d3b; color: #fff; }

/* Visual Composer > Accordions & Toggles */
.vc_toggle_default.vc_toggle_active .vc_toggle_title,
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover,
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4,
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4:before,
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover { color: #fff; background: #252d3b; }

.vc_toggle_default.vc_toggle_active .vc_toggle_title h4,
.vc_toggle_default.vc_toggle_active .vc_toggle_title h4:before,
.vc_toggle_default.vc_toggle_active .vc_toggle_title:hover,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:before { color: #fff; }

/*pricing tables*/
.vcex-pricing .vcex-pricing-header h5 { background: #252525; color: #fff; border-color: transparent; }
.vcex-pricing.featured .vcex-pricing-header h5 { border-color: transparent; }
.vcex-pricing .vcex-pricing-ammount { color: #2ea579 }

/*filter*/
.vcex-filter-links { margin-bottom: 20px !important }
.vcex-filter-links a { color: #444; padding: 6px 14px; font-size: 12px; font-weight: 400; background: #edf2f9; border-radius: 3px; border: none; border-bottom: 2px solid rgba(0,0,0,0.1); }
.vcex-filter-links a:hover,
.vcex-filter-links li.active a { border-bottom: 2px solid rgba(0,0,0,0.3); }

/*icon boxes and teasers*/
.vcex-icon-box-four.vcex-icon-box-with-link:hover,
.vcex-icon-box-five.vcex-icon-box-with-link:hover { background: #ff4800 }

/*other vc modules*/
body .vc_text_separator_two span { border-bottom-color: #000 }
.vcex-callout { background: #edf2f9; border: 1px solid #dee3eb; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; color: #788397; }
.vcex-callout-caption { text-shadow: none }
.vcex-recent-news-date span.month { background: #252d3b }

/*navbar*/
.vcex-navbar.style-buttons a { color: #444; padding: 6px 14px; font-size: 12px; border: none; background: #f5f5f5; border-radius: 3px; }
.vcex-navbar.style-buttons a:hover,
.vcex-navbar.style-buttons a.active { background: #35c08d; color: #fff; }

/*filter*/
.vcex-navbar.style-buttons a { color: #444; padding: 6px 14px; font-size: 12px; font-weight: 400; background: #edf2f9; border-radius: 3px; border: none; border-bottom: 2px solid rgba(0,0,0,0.1); }
.vcex-navbar.style-buttons a:hover,
.vcex-navbar.style-buttons a.active { color: #fff; border-bottom: 2px solid rgba(0,0,0,0.3); }

/*--------------------------------------------------------------
- Portfolio
--------------------------------------------------------------*/
.portfolio-entry-title { margin: 20px 0 0; font-size: 16px; font-weight: 400; }
.portfolio-entry-details { background: none; border: none; padding: 0; }
.portfolio-entry-excerpt { margin-top: 15px }

/*--------------------------------------------------------------
- Staff
--------------------------------------------------------------*/
.staff-entry-title { font-size: 1.231em; font-weight: 400; }
.staff-entry-excerpt { margin-top: 15px }
.staff-social { margin-top: 20px }
.staff-social a { border: none; background: #edf2f9; color: #99a6bf; }
.staff-social a:hover { background: #1bbc9b; color: #fff !important; }

/*--------------------------------------------------------------
- Footer
--------------------------------------------------------------*/

/* Footer > Callout */
#footer-callout-wrap { background: #edf2f9; border-color: #dee3eb; }
#footer-callout { color: #788397 }

/* Footer > Main */
#footer { background: #181e26 }

/* Footer > Typography */
#footer,
#footer p { color: #536884 }
#footer a { color: #1bbc9b }
#footer a:hover { color: #fff }
#footer a:active { color: #1bbc9b }
#footer li { border-color: #252e3b }
#footer li a:before { color: #1bbc9b }
.site-footer a,
.site-footer strong { color: #748aa7 }
.site-footer strong { font-weight: bold; font-weight: 600; }

/* Footer > Footer Bottom */
#footer-bottom { background: #0b0e11; color: #46586f; }
#footer-bottom a { color: #fff }
#footer-bottom a:hover,
#footer-bottom a:active { color: #1bbc9b }

/* Footer > Scroll top */
#site-scroll-top, #site-scroll-top:hover, #site-scroll-top:active { border-color: transparent; }

/*--------------------------------------------------------------
- WooCommerce
--------------------------------------------------------------*/

/* WooCommerce > Filter */
.woocommerce .widget_price_filter .price_slider_wrapper .ui-widget-content { background: #dee3eb; }

/* WooCommerce > Notices */
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message { background: none; }

/* WooCommerce > Price */
.amount, .price { color: #2ea579; }

/* WooCommerce > Entries */
.woocommerce ul.products li.product h3 { color: #000; }
.woocommerce ul.products li.product .price,
.woocommerce ul.products li.product .price .amount { color: #788397; }

/* WooCommerce > On Sal & Out of Stock */
.woocommerce span.onsale,
.outofstock-badge { border-radius: 4px; }

/* WooCommerce > Singular */
.woocommerce div.product .woocommerce-product-rating { margin: 10px 0 0; }

/* WooCommerce > Tabs */
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { border-color: #1bbc9b; color: #1bbc9b; }

/*--------------------------------------------------------------
- Highlight > Primary (Green)
--------------------------------------------------------------*/

/* Highlight > Primary > Color */
a,
.navbar-style-one .dropdown-menu > li.sfHover > a,
.navbar-style-one .dropdown-menu > li > a:hover,
.navbar-style-one .dropdown-menu > .current-menu-item > a,
.navbar-style-one .dropdown-menu > .current-menu-parent > a {
	color: #1bbc9b;
}

/* Highlight > Primary > Background */
.vcex-button,
input[type="submit"],
.theme-button,
button,
#header-two-search-submit,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
#site-scroll-top:hover,
#main .tagcloud a:hover,
#wp-calendar caption,
#sidebar .modern-menu-widget li.current-menu-item a,
.navbar-style-one .menu-button > a > span.link-inner,
#mobile-menu a:hover,
.is-sticky .fixed-nav,
.vcex-pricing.featured .vcex-pricing-header,
.woocommerce nav.woocommerce-pagination ul li a:focus,
.woocommerce nav.woocommerce-pagination ul li a:hover,
.woocommerce nav.woocommerce-pagination ul li span.current,
.post-tags a:hover,
.vcex-filter-links a:hover,
.vcex-filter-links li.active a,
.page-numbers a:hover, .page-numbers.current,
.page-numbers.current:hover,
#mobile-menu a,
.vcex-testimonials-fullslider .sp-selected-button { background: #1bbc9b; color: #fff; }

.woocommerce button.disabled,
.woocommerce button.alt:disabled { background: #1bbc9b !important; }

/* Highlight > Primary > Background > Hover */
.vcex-button:hover,
input[type="submit"]:hover,
.theme-button:hover,
button:hover,
#header-two-search-submit:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce ul.products li.product .added_to_cart:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.navbar-style-one .menu-button > a > span.link-inner:hover,
#mobile-menu a:hover { background: #158f76; }

/*--------------------------------------------------------------
- Highlight > Secondary (Red)
--------------------------------------------------------------*/

/* Highlight > Secondary > Background > Hover */
a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
#sidebar a:hover,
.woocommerce ul.products li.product h3:hover,
.meta a:hover { color: #ff4800; text-decoration: none; }

.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background: #ff4800; }