/*
 * Custom iLightbox Skin For The Total WordPress Theme
 * Copyright 2015, WPExplorer.com
 */
.ilightbox-overlay.minimal { background: #000 }
.ilightbox-holder.minimal .ilightbox-container { padding: 20px; }
.ilightbox-holder .ilightbox-inner-toolbar { padding: 0 20px; }

/* loader */
.ilightbox-loader.minimal { box-shadow: none; -webkit-box-shadow: none; background-color: transparent; }
.ilightbox-loader.minimal div { background-color: transparent; background: url('preloader.gif') no-repeat center; }

/* title */
.ilightbox-holder.minimal .ilightbox-inner-toolbar .ilightbox-title { font-size: 14px; padding: 20px 10px 0 0; padding-right: 60px; color: #fff; font-weight: 400; text-transform: capitalize; }
.ilightbox-holder.minimal .ilightbox-inner-toolbar .ilightbox-toolbar { left: auto; top: 5px; right: 5px; }
.ilightbox-holder.minimal .ilightbox-inner-toolbar .ilightbox-toolbar a { -webkit-border-radius: 0; border-radius: 0; float: right; }

/* caption */
.ilightbox-holder.minimal .ilightbox-container .ilightbox-caption { background: #000; background: rgba( 0,0,0,0.6 ); font-size: 1em; display: block !important; opacity: 1 !important; color: #fff; border-radius: 0; left: 0; right: 0; text-align: center; padding: 20px; color: #aaa; margin: 0 20px; bottom: 20px; }

/* Style toolbar */
.ilightbox-toolbar.minimal { top: 0; right: 10px; }
.ilightbox-toolbar.minimal a { float: right; width: 44px; height: 44px; opacity: 0.6; -webkit-transition: opacity 0.1s; transition: opacity 0.1s; -webkit-box-shadow: none; box-shadow: none; }
.ilightbox-toolbar.minimal a:hover { opacity: 1 }
.ilightbox-toolbar.minimal a.ilightbox-close { background: url(skin.png) 0 0 no-repeat; background-position: 0 -44px; }
.ilightbox-toolbar.minimal a.ilightbox-fullscreen { background: url(skin.png) 0 0 no-repeat; background-position: 0 0; }
.ilightbox-toolbar.minimal a.disabled { opacity: 0.2 !important; cursor: default; }

/* Mobile Toolbar */
.isMobile .ilightbox-toolbar.minimal { background: #222; bottom: 0; top: auto; left: 0; width: 100%; height: 44px; text-align: center; }
.isMobile .ilightbox-toolbar.minimal a { display: inline-block; float: none; width: 44px; height: 44px; background-image: url(skin.png); -webkit-transition: opacity 0.1s; transition: opacity 0.1s; -webkit-box-shadow: none; box-shadow: none; }
.isMobile .ilightbox-toolbar.minimal a:hover { background-color: #111 }
.isMobile .ilightbox-toolbar.minimal a.ilightbox-fullscreen { background-position: 0 0; }
.isMobile .ilightbox-toolbar.minimal a.ilightbox-next-button { background-position: -90px -44px }
.isMobile .ilightbox-toolbar.minimal a.ilightbox-prev-button { background-position: -132px -44px }
.isMobile .ilightbox-toolbar.minimal a.ilightbox-play { display: none; }
.isMobile .ilightbox-toolbar.minimal a.ilightbox-pause { display: none; }

/* Style thumbnails */
.ilightbox-thumbnails .ilightbox-thumbnails-grid .ilightbox-thumbnail img { width: 100%; height: 100%; -webkit-border-radius: 0; border-radius: 0; }

/* Configure arrow buttons */
.ilightbox-button.minimal.disabled { opacity: 0.2 !important; cursor: default; }
.ilightbox-button.minimal span { display: block; width: 100%; height: 100%; position: relative; opacity: 0.6; -webkit-transition: opacity 0.1s; transition: opacity 0.1s; -webkit-box-shadow: none; box-shadow: none; background: none; }
.ilightbox-button.minimal span:hover { opacity: 1 }
.ilightbox-button.minimal { bottom: 0; right: 0; left: 0; left: 45%\9; /*\**/: auto\9; /* IE7-8 _NO__DOTCOMMA__AFTER__*/ width: 95px; height: 75px; margin: auto; }
.ilightbox-button.ilightbox-button.minimal:hover { opacity: 1 }
.ilightbox-button.ilightbox-prev-button.minimal { top: 0; bottom: auto; background-image: none; }
.ilightbox-button.minimal span:after { content: ""; display: block; position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -16px; height: 30px; width: 32px; background-image: url(skin.png); background-repeat: no-repeat; background-color: #000; background-color: rgba(0,0,0,0.9); }
.ilightbox-button.ilightbox-next-button.minimal span:after { background-position: -226px -50px }
.ilightbox-button.ilightbox-prev-button.minimal span:after { background-position: -182px -50px }

/* Horizontal Scroll */
.ilightbox-button.minimal.horizontal { right: 0; left: auto; top: 0; bottom: 0; top: 41%\9; /*\**/: auto\9; /* IE7-8 _NO__DOTCOMMA__AFTER__*/ width: 75px; height: 95px; }
.ilightbox-button.minimal.horizontal span:after { content: ""; display: block; position: absolute; top: 50%; left: 50%; margin-top: -15px; margin-left: -16px; height: 30px; width: 34px; background-image: url(skin.png); background-repeat: no-repeat; }
.ilightbox-button.ilightbox-next-button.minimal.horizontal span:after { background-position: -95px -50px }
.ilightbox-button.ilightbox-prev-button.minimal.horizontal { right: auto; left: 0; }
.ilightbox-button.ilightbox-prev-button.minimal.horizontal span:after { background-position: -137px -50px }

/* Social */
.isMobile .ilightbox-social { display: none !important }
.ilightbox-holder .ilightbox-container .ilightbox-social { display: block !important; right: 20px; left: auto; top: -10px; padding:0; }
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a { background-image: none !important; font-size: 16px; color: #fff; text-decoration: none; opacity: 0.5; font-size: 16px; }
.ilightbox-holder .ilightbox-container .ilightbox-social ul li a:hover { opacity: 1; }
.ilightbox-social a:after { position: relative; }
.ilightbox-social li.facebook a:after { content:"\f09a" }
.ilightbox-social li.twitter a:after { content:"\f099" }
.ilightbox-social li.googleplus a:after { content:"\f0d5" }
.ilightbox-social li.pinterest a:after { content:"\f231" }

/* FontAwesome */
.ilightbox-social li a:after { font-family: "FontAwesome"; font-weight: normal; font-style: normal; letter-spacing: normal; text-rendering:auto; -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }