/*--------------------------------------------------------------
 Theme Name     : Total
 Version        : 2.0.0
 Description    : Agent Skin
 Author         : WPExplorer
 Theme URI      : http://www.wpexplorer.com
 Author URI     : http://www.wpexplorer.com
 License        : Custom
 License URI    : http://themeforest.net/licenses

/*--------------------------------------------------------------
- General
--------------------------------------------------------------*/
a:hover { text-decoration: underline; color: #000; }
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { color: #000; }

/* General > Theme Heading */
.theme-heading { border-bottom: 1px solid #eee; }
.theme-heading span.text:after { display: none; }

/* General > Page Header */
.page-header { background: #f5f5f5; padding-top: 30px; padding-bottom: 30px; border-bottom: 1px solid #EEEEEE; }
.page-header-title { font-size: 24px; font-weight: 600; }

/*--------------------------------------------------------------
- Topbar
--------------------------------------------------------------*/
#top-bar-wrap { border-color: transparent; color: #8b8b8b; background: #202020; }
#top-bar-content strong { color: #fff; font-weight: 400; }
#top-bar-wrap a { color: #555 }
#top-bar-wrap a:hover { color: #fff; }

/*--------------------------------------------------------------
- Header
--------------------------------------------------------------*/

/* Header > Main */
#site-logo a { color: #fff }
#site-header,
#searchform-header-replace,
.is-sticky #site-header { background: #252525; border-bottom: none; }

/* Header > Aside */
.header-two-aside { color: #aaa }

/* Header > Search */
#searchform-header-replace input,
#searchform-header-replace-close { color: #8b8b8b }
#searchform-header-replace-close:hover { color: #fff; }

/*--------------------------------------------------------------
- Navigation
--------------------------------------------------------------*/
.navbar-style-two .dropdown-menu { border-color: #278a66 }
body.page-header-disabled #site-navigation-wrap { border-bottom: none; }

/* Navigation > Fixed */
.is-sticky .fixed-nav { border-bottom: none; }

/* Navigation > One */
.navbar-style-one .dropdown-menu > li > a { color: #8b8b8b }
.navbar-style-one .dropdown-menu > li.sfHover > a,
.navbar-style-one .dropdown-menu > li > a:hover,
.navbar-style-one .dropdown-menu > .current-menu-item > a,
.navbar-style-one .dropdown-menu > .current-menu-parent > a { color: #fff }
.search-toggle-li a { border-color: transparent !important }
.navbar-style-one .dropdown-menu ul { border: none; background: #252525; background: rgba(0,0,0,0. 0.4); }
.navbar-style-one .dropdown-menu ul:before,
.navbar-style-one .dropdown-menu ul:after { display: none }
.navbar-style-one .dropdown-menu ul li a { padding-top: 10px; padding-bottom: 10px; border-color: #333; font-size: 12px; color: #8b8b8b; }
.navbar-style-one .dropdown-menu ul li a:hover { background: #35c08d; color: #fff; }
.navbar-style-one .dropdown-menu ul li:last-child > a { border-bottom: none }
.navbar-style-one li.megamenu > ul.sub-menu > .menu-item-has-children > a { color: #fff; }
.navbar-style-one li.megamenu > ul.sub-menu > li { border-color: #333; }

/* Navigation > Two */
.navbar-style-two { background: #2a9870; border: none; border: none; }
.navbar-style-two .dropdown-menu > li > a { color: #fff }
.navbar-style-two .dropdown-menu > li,
.navbar-style-two .search-toggle-li { border-color: #278a66 }
.navbar-style-two .dropdown-menu > li > a:hover,
.navbar-style-two .dropdown-menu > .current-menu-item > a { color: #fff; background: #278a66; }

/* Navigation > Three */
.navbar-style-three { background: #2a9870; border: none; border: none; }
.navbar-style-three .dropdown-menu > li > a { color: #fff }
.navbar-style-three .dropdown-menu > li > a:hover,
.navbar-style-three .dropdown-menu > .current-menu-item > a { color: #fff; background: #278a66; }
.navbar-style-three .container { border-color: #278a66 }
.navbar-style-two .dropdown-menu ul a:hover { color: #000 }

/* Navigation > Four */
.navbar-style-four { background: #2a9870; border: none; border: none; }
.navbar-style-four .dropdown-menu > li > a { color: #fff }
.navbar-style-four .dropdown-menu > li > a:hover,
.navbar-style-four .dropdown-menu > .current-menu-item > a { color: #fff; background: #278a66; }
.navbar-style-four .container { border-color: #278a66 }
.navbar-style-four .dropdown-menu ul a:hover { color: #000 }

/* Navigation > Dropdowns */


/*--------------------------------------------------------------
- Mobile Menu
--------------------------------------------------------------*/
#mobile-menu a { border: none; background: #333; color: #aaa; }
body #sidr-main { background-color: #202020; }

/*--------------------------------------------------------------
- Blog
--------------------------------------------------------------*/
.meta a { border-bottom: 1px dotted #888; color: #444; }

/*--------------------------------------------------------------
- Widgets
--------------------------------------------------------------*/
#main .tagcloud a:hover { border-color: transparent; }
#sidebar .modern-menu-widget li.current-menu-item a:after { color: #fff; }

/*--------------------------------------------------------------
- Visual Composer
--------------------------------------------------------------*/

/* Visual Composer > Tabs */
.wpb_tabs.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { border-bottom-color: #000 }
.wpb_tabs.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-one .wpb_tabs_nav li.ui-tabs-active a,
.wpb_tour.tab-style-alternative-two .wpb_tabs_nav li.ui-tabs-active a { background: #252525; color: #fff; }

/* Visual Composer > Toggles + Accordions */
.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active,
#content h4.wpb_toggle_title_active:hover,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover { background: #252525; border-color: transparent; color: #fff; }
#content h4.wpb_toggle_title_active:before,
#content h4.wpb_toggle_title_active:hover:before,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:before,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a:hover:before { color: #fff }
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header a,
.wpb_accordion .wpb_accordion_wrapper h3.ui-state-active.wpb_accordion_header:hover a { color: #fff !important }

/* Visual Composer > Pricing */
.vcex-pricing .vcex-pricing-header { background: #252525; color: #fff; border-color: transparent; }
.vcex-pricing.featured .vcex-pricing-header { border-color: transparent; }
.vcex-pricing .vcex-pricing-ammount { color: #2ea579 }

/* Visual Composer > Filter */
.vcex-filter-links { margin-bottom: 20px !important }
.vcex-filter-links a { color: #444; padding: 6px 14px; font-size: 0.923em; border: none; font-weight: 400; background: #f5f5f5; border-radius: 3px; }
.vcex-filter-links a:hover,
.vcex-filter-links li.active a { text-decoration: none; background: #35c08d; color: #fff; border-color: transparent; }

/* Visual Composer > Seperator w/ Text */
body .vc_text_separator_two span { border-bottom-color: #000 }

/* Visual Composer > Callout */
.vcex-callout { background: #f5f5f5; border: 1px solid #eee; box-shadow: none; -webkit-box-shadow: none; -moz-box-shadow: none; text-shadow: none; }
.vcex-callout-caption { text-shadow: none }

/* Visual Composer > Recent News */
.vcex-recent-news-date span.month { background: #252525 }

/* Visual Composer > Carousels */
.wpex-carousel .owl-prev,
.wpex-carousel .owl-next { background: #35c08d }
.wpex-carousel .owl-prev:hover,
.wpex-carousel .owl-next:hover { background: #31b383 }

/* Visual Composer > Navbar */
.vcex-navbar.style-buttons a { color: #444; padding: 6px 14px; font-size: 0.923em; border: none; background: #f5f5f5; border-radius: 3px; }
.vcex-navbar.style-buttons a:hover,
.vcex-navbar.style-buttons a.active { background: #35c08d; color: #fff; }

/* Visual Composer > Icon Boxes */
.vcex-icon-box-four.vcex-icon-box-with-link:hover,
.vcex-icon-box-five.vcex-icon-box-with-link:hover { background: #31b383; }

/*--------------------------------------------------------------
- Portfolio
--------------------------------------------------------------*/
.portfolio-entry-title { margin: 20px 0 0; font-size: 1.231em; }
.portfolio-entry-details { background: none; border: none; padding: 0; }
.portfolio-entry-excerpt { margin-top: 15px }

/*--------------------------------------------------------------
- Staff
--------------------------------------------------------------*/
.staff-entry-title { font-size: 1.231em; }
.staff-entry-excerpt { margin-top: 15px }
.staff-social { margin-top: 20px }
.staff-social a { background: #232323; color: #fff; border: none; border-radius: 3px; }
.staff-social a:hover { background: #35c08d; color: #fff !important; }
.staff-entry-media:hover .staff-entry-position { opacity: 0.7; -webkit-opacity: 0.7; -moz-opacity: 0.7; }

/*--------------------------------------------------------------
- Footer
--------------------------------------------------------------*/

/* Footer > Scroll Top */
#site-scroll-top:hover { border-color: transparent; }

/*--------------------------------------------------------------
- WooCommerce
--------------------------------------------------------------*/

/* WooCommerce Pricing */
.price,
.amount { color: #2ea579; }

/* WooCommerce > Entry */
.woocommerce ul.products li.product h3,
.woocommerce ul.products li.product h3 mark { color: #000; font-weight: bold; font-weight: 600; }
.woocommerce ul.products li.product h3:hover,
.woocommerce ul.products li.product h3 mark:hover { color: #35c08d; }

/* WooCommerce > Onsale */
.products .product .onsale, .single-product .onsale { background: #ff4800; }

/* WooCommerce > Singular */
.product .summary .price { font-size: 21px; margin-top: 10px; }
.woocommerce-review-link { color: #bbb; }

/* WooCommerce > Filter */
.woocommerce .widget_price_filter .ui-slider .ui-slider-range,
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle { background: #ff4800; }

/*--------------------------------------------------------------
- Other
--------------------------------------------------------------*/
.post-edit a { background: #000; }
.post-edit a:hover { background: #333; }

/*--------------------------------------------------------------
- Highlight > Primary ( Green )
--------------------------------------------------------------*/

/* Highlight > Color */
a,
h2 a:hover,
h3 a:hover,
h4 a:hover,
a:hover h2,
#sidebar .modern-menu-widget a:hover,
#top-bar-social a:hover,
.meta a:hover { color: #35c08d }

/* Highlight > Background */
.vcex-button,
input[type="submit"],
.theme-button,
button,
#header-two-search-submit,
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce ul.products li.product .added_to_cart,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt,
#site-scroll-top:hover,
#main .tagcloud a:hover,
#wp-calendar caption,
#sidebar .modern-menu-widget li.current-menu-item a,
.navbar-style-one .menu-button > a > span.link-inner,
#mobile-menu a:hover,
.is-sticky .fixed-nav,
.vcex-pricing.featured .vcex-pricing-header,
.vcex-skillbar-bar, .vcex-icon-box.style-five.link-wrap:hover,
.vcex-icon-box.style-four.link-wrap:hover,
.vcex-recent-news-date span.month,
.vcex-pricing.featured .vcex-pricing-header,
.vcex-testimonials-fullslider .sp-button:hover,
.vcex-testimonials-fullslider .sp-selected-button { background: #35c08d; color: #fff; }

/* Highlight > Background > Hover */
.vcex-button:hover,
input[type="submit"]:hover,
.theme-button:hover,
button:hover,
#header-two-search-submit:hover,
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce ul.products li.product .added_to_cart:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover,
.navbar-style-one .menu-button > a > span.link-inner:hover,
.post-tags a:hover{ background: #2da679; color: #fff; }

/* Highlight > Borders */
#searchform-dropdown,
body #site-navigation-wrap.nav-dropdown-top-border .dropdown-menu > li > ul,
#current-shop-items-dropdown,
.woocommerce div.product .woocommerce-tabs ul.tabs li.active a { border-color: #35c08d; }
.toggle-bar-btn, .toggle-bar-btn:hover { border-top-color: #35c08d; border-right-color: #35c08d; }